@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Lilita+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cherry+Bomb+One&family=Kaushan+Script&family=Lilita+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    
}
/*pseudo-classes (variáveis em css, que vai valer para o documento) isso faz com que você pode alterar a paleta de um site ou formatações de forma mais dinâmica*/
:root{
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-cordel: 'Cherry Bomb One', cursive;
}

header{
    background-color: black;
    text-align: center;
    padding: 25px;

}
header > h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;

    color: white;
}
header > p {
    color: white;
    padding: 10px;

}
header > p > a{
    color: white;
    text-decoration: none;
}
header > p > a:hover{
    text-decoration: underline;
}



.cordel{
    padding-top: 40px;
    padding-bottom: 50px;
        
    min-height: 350px;
    
}


.cordel > p{
    font-family: var(--fonte-cordel);
    font-size: 25px;
    padding: 3px;
    text-indent: 25px;
    
}
#parte1 {
    
    padding-top: 40px;
    padding-bottom: 50px;

}

#parte2 {
    background-image: url(/imagens/background001.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.708);


}
#parte2 > p {
    background-color: rgba(0, 0, 0, 0.319);
    color: white;

}

#parte6{
    background-image: url(/imagens/background002.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.708);
}

#parte6 p{
    background-color: rgba(0, 0, 0, 0.319);
    color: white;
}

footer{
    background-color: black;
    color:white;
    text-align: center;
    text-indent: 10px;
    padding: 10px;
}
footer p a{
    color: white;
    text-decoration: none;

}
footer p a:hover {
    text-decoration: underline;

}


