@charset "UTF-8";

/*Tipical Device BreakPoints 
(2026- podem mudar conforme os anos)
Pequenas Telas e Celular: até 480px

Tablet e Foldables: 481px - 1024px

Desktop e Laptops:  1025px - 1600px

TV e Monitores Ultra-Wide:  1601px em diante


*/


/*Media impressora*/
@media print {

    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../imagens/back-print.jpg); /*desnecessário*/
    }

    main{
        border: 2px solid black;
        width: 400px;
    }

    main::after{
        content: 'Página para impressão';
    }
    main h1{
         text-shadow: none;
         color: black;
    }


    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: block;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}

/*tablet*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }

}

/*desktop*/
@media screen and (min-width: 1025px) and (max-width: 1600px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }

}


/*tv*/
@media screen and (min-width: 1601px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    main{
        width: 700px;
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }

}
